.tracks-widget {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    overflow: auto;
    width: 100%;
    background-color: var(--bg-color);
}

.tracks-widget::-webkit-scrollbar {
    width: 12px;
}

.tracks-widget::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 1px;
}

.tracks-widget::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 150, 150, 0.7);
}

.tracks-widget::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

.tracks-widget::-webkit-scrollbar-track:hover {
    background-color: var(--bg-color);
}
