.track-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--bg-color);
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
}

.track-card:hover {
  background-color: var(--shade-color);
}

.track-card .track-card-id {
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.track-card .track-card-play-icon {
  cursor: pointer;
}

.track-card .track-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.track-card .track-card-title {
  font-size: 16px;
  font-weight: bold;
}

.track-card .track-card-artist {
  font-size: 14px;
  color: #666;
}

.track-card .track-card-remove-button {
  background-color: transparent;
  border: none;
  color: #ff0000;
  cursor: pointer;
  box-shadow: none;
}

.track-card .track-card-duration {
  width: 50px;
  text-align: right;
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}