.track-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--bg-color);
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
}

.track-card:hover {
  background-color: var(--shade-color);
}

.track-card .track-card-id {
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.track-card .track-card-play-icon {
  cursor: pointer;
}

.track-card .track-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.track-card .track-card-title {
  font-size: 16px;
  font-weight: bold;
}

.track-card .track-card-artist {
  font-size: 14px;
  color: #666;
}

.track-card .track-card-remove-button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  box-shadow: none;
}

.track-card .track-card-duration {
  width: 50px;
  text-align: right;
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}

.track-card-remove-button-tooltip {
  position: relative;
  display: inline-block;
  background-color: var(--primary-color);
}

.track-card-remove-button-tooltip-text {
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  background: #333;
  color: white;
  padding: 5px 8px;
  border-radius: 6px;
  top: -10px;
  left: 100%;
  transform: translateX(10px);
  white-space: nowrap;
  z-index: 10;
}

.track-card-remove-button-tooltip:hover .track-card-remove-button-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.track-card .track-card-options {
  position: absolute;
  bottom: 50px;
  right: 8px;
  z-index: 10;


  padding: 4px 4px;
  background: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2px;
  pointer-events: auto;
  white-space: nowrap;
}


.track-card .track-card-options>span {
  border-radius: 5px;
  padding: 4px;
  font-size: large;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}


.track-card .track-card-options>span:hover {
  background-color: var(--shade-color);
}


/* Ensure parent is positioned */
.track-card {
  position: relative;
}