.tracks-header {
  background: linear-gradient(to bottom, var(--primary-color), var(--bg-color));
  color: var(--text-color);
  text-shadow: 2px 2px 4px var(--shade-color);
  align-items: center;
  display: flex;

  & .tracks-header-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px;
  }

  & .tracks-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .tracks-header-label {
      font-size: 20px;
      margin: 0;
    }

    & .tracks-header-title {
      font-size: 32px;
      font-weight: bold;
      margin: 0;
    }

    & .tracks-header-description {
      font-size: 16px;
      margin: 0;
    }
  }

  & .tracks-header-buttons {
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .tracks-header-new-track {
      display: flex;
    }

    & .tracks-new-icon-button {
      color: var(--text-color);
      box-shadow: none;
    }

    & .tracks-header-play-collection-button {
      margin-left: auto;
      width: 30%;
      height: auto;
      aspect-ratio: 1/1;
      color: var(--text-color);
    } 
  }

}