.collections-widget {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    overflow: auto;
    width: 100%;
}

.collections-list {
  display: grid;
  grid-auto-rows: 1fr; /* ensures all rows have consistent height */
  align-items: start; /* important */
}

/* -------------- SCROLLBAR --------------*/
.collections-widget::-webkit-scrollbar {
    width: 12px;
}

.collections-widget::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.collections-widget::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 150, 150, 0.7);
}

.collections-widget::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

.collections-widget::-webkit-scrollbar-track:hover {
    background-color: var(--bg-color);
}
