.collection-creator-popup {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  .collection-name-input {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px 0;
  }

  .collection-description-input {
    resize: none;
    background-color: #fff;
  }

  .collection-cover-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .collection-cover-input{
      width: 50%;
    }
  }

  .create-collection-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
  }
}
