.collection-card {
  position: relative;
  /* important for absolute child positioning */
  display: flex;
  align-items: center;
  max-height: 60px;
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--shade-color);
  color: var(--text-color);

  .collection-image {
    aspect-ratio: 1 / 1;
    width: auto;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .collection-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .collection-description {
    font-size: 0.9em;
    color: var(--text-color);
  }

  & .collection-card-button {
    margin-left: auto;
    color: var(--text-color);
    box-shadow: none;
    z-index: 2;
  }

  /* --- OPTIONS DROPDOWN STYLES --- */
  & .collection-card-options {
    position: absolute;
    top: -70px;
    right: -0px;
    z-index: 99999;

    padding: 4px 4px;
    background: var(--secondary-color);
    border: 0px solid var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 2px;
    pointer-events: auto;
    white-space: nowrap;

    &>span {
      border-radius: 5px;
      padding: 4px;
      font-size: large;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 2px;
      cursor: pointer;
    }

    &>span:hover {
      background-color: var(--shade-color);
    }

  }

  /* show on hover (optional) */
  &:hover .collection-card-options {}
}