.collection-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 60px;
    height: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #dba44b;
}