.collections-header {
  background: linear-gradient(to right, var(--primary-color), var(--bg-color));
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .collections-header-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
  }

  .collections-new-button {
    color: var(--text-color);
    background-color: transparent;
    box-shadow: None;
  }
}