.collection-card {
  display: flex;
  align-items: center;
  max-height: 60px;
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--shade-color);
  color: var(--text-color);

  .collection-image {
    aspect-ratio: 1 / 1;
    width: auto;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .collection-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .collection-description {
    font-size: 0.9em;
    color: var(--text-color);
  }

  & .collection-card-delete {
    margin-left: auto;
    color: var(--text-color);
  }
}