.audio-player-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;

  /* Color variables for the gradient pattern */
  --w: 8rem;
  /* size of each radial pattern tile */
  --r: calc(var(--w) / 2);
  /* radius */
  --n: 11;
  /* number of steps */
  --t: calc(var(--r) / var(--n));

  /* Precomputed step gradient using primary and secondary colors */
  --g:
    var(--primary-color) 0 calc(var(--t) * 1 - 1px),
    var(--secondary-color) calc(var(--t) * 1) calc(var(--t) * 2 - 1px),
    var(--primary-color) calc(var(--t) * 2) calc(var(--t) * 3 - 1px),
    var(--secondary-color) calc(var(--t) * 3) calc(var(--t) * 4 - 1px),
    var(--primary-color) calc(var(--t) * 4) calc(var(--t) * 5 - 1px),
    var(--secondary-color) calc(var(--t) * 5) calc(var(--t) * 6 - 1px),
    var(--primary-color) calc(var(--t) * 6) calc(var(--t) * 7 - 1px),
    var(--secondary-color) calc(var(--t) * 7) calc(var(--t) * 8 - 1px),
    var(--primary-color) calc(var(--t) * 8) calc(var(--t) * 9 - 1px),
    var(--secondary-color) calc(var(--t) * 9) calc(var(--t) * 10 - 1px),
    var(--primary-color) calc(var(--t) * 10) calc(var(--t) * 11 - 1px),
    #0000 calc(var(--t) * 11);

  /* Radial gradient tiled background using the step gradient */
  background:
    radial-gradient(circle at 0% 0%, var(--g)),
    radial-gradient(circle at 100% 100%, var(--g)),
    radial-gradient(circle at 50% 50%, var(--g)),
    radial-gradient(circle at 100% 0%, var(--g)),
    radial-gradient(circle at 0% 100%, var(--g));

  background-size: var(--w) var(--w);

  color: var(--text-color);
  transition: transform 0.2s cubic-bezier(.32, 0, .15, 1);

  .audio-player-top-bar {
    width: 100%;
    padding: 5px 10px;
  }

  .audio-player-image {
    width: 60%;
    max-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    margin: 10px 0;
    border-radius: 12px;
    flex-shrink: 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  }

  .audio-player-track-info {
    text-align: start;
    font-weight: bold;
    margin-bottom: auto;
    padding: 5px 0;
    height: 30vh;
    margin-bottom: auto;
  }

}

.audio-player-artist {
  font-size: 1.5rem;
  opacity: 1.0;
  font-style: italic;
  text-align: center;
  margin: 0;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 1);

}

.audio-player-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 1);

}

.audio-player-controls {
  height: 10px;
  width: 100%;
  margin-top: 0px;
  padding-bottom: 10px;
}