.audio-player-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);

  .audio-player-top-bar {
    width: 100%;
    padding: 5px 10px;
  }

  .audio-player-image {
    width: 60%;
    max-width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    margin: 10px 0;
    border-radius: 12px;
    flex-shrink: 0;
  }

  .audio-player-track-info {
    text-align: center;
    padding: 5px 0;


  }

  .audio-player-artist {
    font-size: 0.9rem;
    opacity: 0.8;
    text-align: center;
    margin: 0;
  }

  .audio-player-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  .audio-player-controls {
    width: 100%;
    margin-top: auto;
    padding-bottom: 10px;
  }
}