.main-screen {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--bg-color);
}

.main-screen .top-bar {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: 10px;
    border-radius: 5px;
}

.main-screen .collections-widget {
    grid-column: 1;
    grid-row: 2;
    margin-right: 20px;
    border-radius: 5px;
    overflow-y: auto;
}

.main-screen .tracks-widget {
    grid-column: 2;
    grid-row: 2;
    margin-left: 5px;
    border-radius: 5px;
    overflow-y: auto;
}

.main-screen .music-player-bar {
    grid-column: 1 / span 2;
    grid-row: 3;
}