.track-queue-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--bg-color);
  width: 100%;
  box-sizing: border-box;
  color: var(--text-color);
}

.track-queue-card.now-playing {
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.track-queue-card:hover {
  background-color: var(--shade-color);
}

.track-queue-card .track-queue-card-id {
  width: 30px;
  text-align: center;
  font-weight: bold;
}

.track-queue-card .track-queue-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.track-queue-card .track-queue-card-title {
  font-size: 16px;
  font-weight: bold;
}

.track-queue-card .track-queue-card-artist {
  font-size: 14px;
  color: #666;
}
