.track-queue {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: calc(100% - 10px);
  box-sizing: border-box;
  min-width: 0;
  margin-right: 0;
  margin-top: 5px;
  border-radius: 5px;
  margin-left: 10px;
  overflow: hidden;

  & .track-queue-list {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    scrollbar-gutter: stable;
  }
}

/* -------------- SCROLLBAR --------------*/
.track-queue-list::-webkit-scrollbar {
  width: 5px;
}

.track-queue-list::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.track-queue-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.7);
}

.track-queue-list::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.track-queue-list::-webkit-scrollbar-track:hover {
  background-color: var(--bg-color);
}