.track-label {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  color: var(--bg-color);
  font-weight: bold;
  font-size: large;
  gap: 10px;

  & .track-label-collection-cover {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
  }

  & .open-player-button {
    margin: 5px;
  }
}