.audio-player-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  & .audio-player-controls-buttons {
    width: 80%;
  }
  & .audio-player-volume-control {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
  }
}