.audio-player-top-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--shade-color);
  color: var(--text-color);

  & .audio-player-back-icon {
    color: var(--text-color);
    background-color: transparent;
    box-shadow: none;
    margin-right: 10px;
    cursor: pointer;
  }
}