.repeat-toggle {
  box-shadow: none;
  display: flex;
  color: var(--text-color);
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  border: 1px solid;

  &.repeat {
    color: var(--bg-color);
    background-color: var(--text-color);
  }

}