.top-bar {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);

  & .top-bar-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }

  & .version-number {
    margin-left: 10px;
    margin-right: auto;
    align-self: center; 
  }

  & .top-bar-theme-icon {
    margin-right: 10px;
    cursor: pointer;
  }
}